.buttons {
    display: grid;
    grid-template-columns: repeat(4, 25fr);
    margin: 0 25% 0 25%;
}

.buttons buton {
    border: nome
    background-color: #f1f1f1;

}

.buttons button:hover {
    background-color: #ddd;
}

.buttons button:active {
    background-color: #ccc;
}