.buttons {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0px 20% 0 20%;
    align-items: center;
    
}

.buttons button{
    border: none;
    background-color: #f0ba0b;
}

.buttons button:hover{
    background-color: #856202;
    cursor: pointer;
}

.buttons button:active{
    background-color: #551a02;
}