    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        margin: 0px 20% 0px 20%;
        align-items: center;
    }

    .buttons button {
        padding: 20px;
        font-size: 1.5rem;
        border: none;
        background-color: #ee5ddb;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .buttons button:hover {
        background-color: #e53cf5;
    }