.buttons {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin: 0 45% 0 45%;
  align-items: center;
}

.buttons button {
  border: none;
  background-color: white;
}

.buttons button:hover {
  background-color: gold;
}

.buttons button:active {
  background-color: darkgoldenrod;
}
